@import "tailwindcss";

@variant dark (.dark &);

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

/* Dark mode styling */
html.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
